In [ ]:
# Question 1 : Assuming that we have some email addresses in the "username@companyname.com" format, 
# pleasewrite a program to print the company name of a given email address. 
# Both user names and companynames are composed of letters only.Input Format: 
# The first line of the input contains an email address.Output Format:Print the company name in a single line.
# Example;Input:john@google.comOutput:google.

def companyname(str):
    new_list=""
    for i in range(len(str)):
        if(str[i] == '@'):
            j=i
            for j in range(j+1,len(str)):
                if(str[j] == '.'):
                    break
                else:
                    new_list +=str[j]
              
    return new_list         

companyname('krishnactm.km@letsupgrade.com')

In [55]:
# Question 2 : Write a program that accepts a comma-separated sequence of words as input and 
# prints the words in acomma-separated sequence after sorting them alphabetically.
# Input Format:The first line of input contains words separated by the comma.
# Output Format:Print the sorted words separated by the comma.
# Example:Input:without,hello,bag,worldOutput:bag,hello,without,world

def comma_separate(str):
    new_list=[]
    for i in str.split(','):
        new_list.append(i)
    x = sorted(new_list)
    print(','.join(x))
comma_separate('without,hello,bag,world')

bag,hello,without,world

In [72]:
# Question 3:Create your own Jupyter Notebook for Sets. Reference link:

x ={'krishna','bangladesh',23,'ce','gujarat'}
x
print(type(x))
print(len(x))
x.add('Marwadi University')
x

<class 'set'>
5

{23, 'Marwadi University', 'bangladesh', 'ce', 'gujarat', 'krishna'}

In [154]:
# Question 4: 
# Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. 
# There are noduplicates.Input Format:The first line contains n-1 numbers with each number separated by a space.
# Output Format:Print the missing numberExample:Input:1 2 4 6 3 7 8
# Output:5
# Explanation:In the above list of numbers 5 is missing and hence 5 is the input

li = [int(x) for x in range(1,9)]

n=[]
x='1 2 4 6 3 7 8'
for i in x.split(' '):
    n.append(int(i))
for i in li:
    if i not in n:
        print(i)

5

In [163]:
# Question 5:With a given list L, write a program to print this list L after removing all duplicate values with
# original orderreserved.Example:If the input list is12 24 35 24 88 120 155 88 120 155
# Then the output should be12 24 35 88 120 155Explanation:Third, the seventh and ninth element of the list 
# L has been removed because it was already present.Input Format:In one line take the elements of the list 
# L with each element separated by a space.Output Format:Print the elements of the modified list in one line 
# with each element separated by a space.
# Example:Input:12 24 35 24Output:12 24 35
            
def duplicates (str):
    new_list=[]
    for i in str:
        if i not in new_list:
            new_list.append(i)
    print(new_list)
duplicates([1,3,5,6,5,6])

[1, 3, 5, 6]